body {
    background: #35ac9a
}

.header {
    color: #ffffff;
    text-align: center;
    font-size: 1.75rem;
}

.container-panel {
    display: flex;
}

.container-editor {
    margin: 20px;
    width: 50%;
    height: 50%;
    display: row;
    /* margin: 15%; */
}

.nav {
    background-color: rgb(163, 177, 167);
    overflow: hidden;
    display: flex;
    padding: 8px;
    box-shadow: 2px 2px 3px #BDBDBD inset, 2px 2px 3px #BDBDBD;
}

.nav a {
    /* float: left;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; */
}

.download-upload {
    margin-left: auto; 
    margin-right: 5px;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.output-text {
    margin-left: 50%;
    /* padding: 14px 16px; */
}

option {
    background: #d9faea;
}

#gas {
    position: absolute;
}

#nasm {
    position: absolute;
}

#output {
    position: absolute;
}